@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&family=SUSE:wght@100..800&display=swap");

:root {
  --color-white: #fefeff;
  --color-light-blue: #d6efff;
  --color-dark-blue: #344966;
  --color-black: #0d1821;
  --color-red: #fe654f;
  --color-green: #00ff99;
  --color-yellow: #ffd700;
}

body {
  background: var(--color-black);
  height: 90vh;
  margin: 0;
  color: var(--color-white);
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  border: none;
  min-width: 20rem;
  font-family: "SUSE", sans-serif;
  font-size: 1rem;
  filter: drop-shadow(0px 0px 4px var(--color-light-blue));
  margin-bottom: 1rem;
  padding: 0.25rem;
  background: var(--color-light-blue);
}

.login-container button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: "SUSE", sans-serif;
  font-size: 1rem;
}

.login-text {
  font-size: 0.75rem;
  color: var(--color-dark-blue);
}

.logo-text {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
  color: var(--color-light-blue);
  font-size: 4rem;
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.wallet-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wallet-selection-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selected-account {
  background-color: var(--color-light-blue);
  color: var(--color-dark-blue);
  font-weight: bold;
}

.pulse-green {
  animation: greenShadowPulse 2s infinite;
}

@keyframes greenShadowPulse {
  0% {
    box-shadow: 0 0 0.5rem var(--color-green);
  }
  50% {
    box-shadow: 0 0 1rem var(--color-green);
  }
  100% {
    box-shadow: 0 0 0.5rem var(--color-green);
  }
}

button {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  margin: 0.1rem;
  font-family: "SUSE", sans-serif;
}

button:hover {
  filter: brightness(0.9);
}
button:active {
  filter: brightness(0.8);
}

.wallet-address-text {
  color: var(--color-dark-blue);
  filter: brightness(1.2);
  margin: 0;
  font-family: monospace;
}

.wallet-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
}

.wallet-dropdown-item {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  margin: 0.1rem;
}

.wallet-dropdown-item:hover {
  filter: brightness(0.9);
}
.wallet-dropdown-item:active {
  filter: brightness(0.8);
}

.balance-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.balance-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.balance-number {
  font-size: 4rem;
  color: var(--color-white);
  margin: 0;
}

.balance-symbol {
  color: var(--color-dark-blue);
  filter: brightness(1.2);
  margin: 0;
}

.home-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.home-divider {
  width: 90%;
  border-color: var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  margin: 1rem;
}

.bundle-history-title {
  font-size: 1rem;
  color: var(--color-dark-blue);
  margin: 0;
}

.bundle-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bundle-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.bundle-label-container > * {
  margin: 0.5rem;
}

.symbol {
  color: var(--color-dark-blue);
  filter: brightness(1.2);
}

.bundle-label-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bundle-label-text-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem;
}

.bundle-label-text-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem;
}

.bundle-label-text-id {
  font-size: 0.75rem;
  color: var(--color-dark-blue);
  margin: 0;
}

.bundle-label-text-status {
  font-size: 0.7rem;
  color: var(--color-dark-blue);
  margin: 0;
}

.status-colour-landed {
  color: var(--color-green);
}

.status-colour-failed {
  color: var(--color-red);
}

.status-colour-pending {
  color: var(--color-yellow);
}

.modal {
  background-color: var(--color-black);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 20rem;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-title {
  font-size: 1rem;
  color: var(--color-light-blue);
  margin: 0;
}

.add-modal-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  border: none;
  min-width: 20rem;
  font-family: "SUSE", sans-serif;
  font-size: 1rem;
  filter: drop-shadow(0px 0px 4px var(--color-light-blue));
  margin-bottom: 1rem;
  padding: 0.25rem;
  background: var(--color-light-blue);
}

.request-page-title {
  font-size: 1rem;
  color: var(--color-light-blue);
  margin: 0;
}

.connect-origin {
  font-weight: bold;
  color: var(--color-green);
}

.request-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.details-click-text {
  font-size: 0.75rem;
  color: var(--color-light-blue);
  margin: 0;
  font-weight: bold;
}

.transaction-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 15rem;
  background-color: var(--color-dark-blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.transaction-details-container:hover {
  filter: brightness(0.9);
}
.transaction-details-container:active {
  filter: brightness(0.8);
}

.transaction-details-segment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.fee-details p {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
  padding-bottom: 0.5rem;
  color: var(--color-light-blue);
}

.instructions-title {
  font-size: 1rem;
  color: var(--color-dark-blue);
  margin: 0;
}

.instruction-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--color-light-blue);
}

.instruction-details p {
  font-size: 0.75rem;
  color: var(--color-light-blue);
}

.instruction-details a {
  color: var(--color-green);
}

.transfer-text {
  font-weight: bold;
}

.unknown-text {
  color: var(--color-yellow);
  font-weight: bold;
}

.amount-text {
  color: var(--color-green);
}

.error-text {
  color: var(--color-red);
  font-weight: bold;
  font-size: 0.75rem;
}

@media (max-width: 600px) {
  .bundle-label-container > * {
    margin: 0.25rem;
  }

  .bundle-label-text-id {
    font-size: 0.5rem;
  }

  .symbol {
    font-size: 0.5rem;
  }

  .bundle-label-text-left {
    margin: 0.25rem;
  }

  .bundle-label-text-right {
    margin: 0.25rem;
  }

  .bundle-label-text-amount {
    font-size: 0.75rem;
  }
}
